<main>
    <section class="gallery">
        <div class="gallery-item">
            <img src="https://static.plasico.bg/thumbs/10/fortron-cmt195a.jpg" alt="Описание на снимката 2">
            <p>Процесор: I7 125500h</p>
            <p>Видео карта RX6700XT 12gb</p>
            <p>RAM 32gb</p>
            <p>1000gb ssd</p>
        </div>
        <div class="gallery-item">
            <img src="https://static.plasico.bg/thumbs/10/fortron-cmt195a.jpg" alt="Описание на снимката 2">
            <p>Процесор: I7 125500h</p>
            <p>Видео карта RX6700XT 12gb</p>
            <p>RAM 32gb</p>
            <p>1000gb ssd</p>
        </div>
        <div class="gallery-item">
            <img src="https://static.plasico.bg/thumbs/10/fortron-cmt195a.jpg" alt="Описание на снимката 2">
            <p>Процесор: I7 125500h</p>
            <p>Видео карта RX6700XT 12gb</p>
            <p>RAM 32gb</p>
            <p>1000gb ssd</p>
        </div>
        <button class="create" routerLink="/computer_case/add-computer_case">Добави кутия</button>
    </section>
</main>