<div class="login-container">
    <form class="login-form" [formGroup]="form" (ngSubmit)="register()">
        <h2>Вход</h2>
        <div class="error-message" id="error-message">
            <!-- Съобщението за грешка ще се появява тук -->
        </div>
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" name="username" placeholder="john_doe@abv.bg" formControlName="">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="JohnDoe23">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
            <label for="password">Repassword</label>
            <input type="password" id="password" name="password" placeholder="rePassword">
        </div>
        <button type="submit">Вход</button>
        <hr>
        <p>Ако вече имаш съществуващ акаут влез от <a routerLink="/login">Тук!</a></p>
    </form>
</div>