<div class="container">
    <div class="main-image">
        <img src="../../../assets/main1000x535.png" alt="Основна снимка">
    </div>
    <div class="gallery">
        <div class="gallery-item">
            <img src="../../../assets/return.png" alt="Примерна снимка">
        </div>
        <div class="gallery-item">
            <img src="../../../assets/freeDeliveri.jpg" alt="Примерна снимка">
        </div>
        <div class="gallery-item">
            <img src="../../../assets/img.jpg" alt="Примерна снимка">
        </div>
    </div>
</div>
