<div class="form-container">
    <form [formGroup]="coolingForm" (ngSubmit)="createOrUpdate()">
        <h2>{{ isEditMode ? 'Редакция на охладител' : 'Добавяне на охладител' }}</h2>
        <div class="form-group">
            <label for="field1">Модел на охладителя:</label>
            <input type="text" id="field1" name="field1" formControlName="coolerModel">
        </div> 
            <ng-container *ngIf="coolingForm.get('coolerModel')?.touched">
                <p class="error-message" *ngIf="coolingForm.get('coolerModel')?.errors?.['required']">Модела на огхадителя е задължителен!</p>
            </ng-container>   
        <div class="form-group">
            <label for="field9">Снимка:</label>
            <input type="text" id="field9" name="field9"formControlName="img">
        </div>
            <ng-container *ngIf="coolingForm.get('img')?.touched">
                <p class="error-message" *ngIf="coolingForm.get('img')?.errors?.['required']">Снимката е задължителна!</p>
            </ng-container> 
        <div class="form-group">
            <label for="field10">Описание:</label>
            <textarea id="field10" name="field10" formControlName="description"></textarea>
        </div>
        <ng-container *ngIf="coolingForm.get('description')?.touched">
            <p class="error-message" *ngIf="coolingForm.get('description')?.errors?.['required']">Описанието е задължително!</p>
        </ng-container>
        <button >Изпрати</button>
    </form>
</div>
