<div class="form-container">
    <form class="data-form" [formGroup]="memorieForm" (ngSubmit)="createMemories()">
        <h2>Форма за добавяне</h2>
        <div class="form-group">
            <label for="field1">Модел на паметта:</label>
            <input type="text" id="field1" name="field1" formControlName="memorieModel">
        </div>   
            <ng-container *ngIf="memorieForm.get('memorieModel')?.touched">
                <p class="error-message" *ngIf="memorieForm.get('memorieModel')?.errors?.['required']">Модел на паметта е задължителен!</p>
            </ng-container> 
        <div class="form-group">
            <label for="field9">Снимка:</label>
            <input type="text" id="field9" name="field9"formControlName="img">
        </div>
            <ng-container *ngIf="memorieForm.get('img')?.touched">
                <p class="error-message" *ngIf="memorieForm.get('img')?.errors?.['required']">Снимката е задължителна!</p>
            </ng-container> 
        <div class="form-group">
            <label for="field10">Описание:</label>
            <textarea id="field10" name="field10" formControlName="description"></textarea>
        </div>
        <ng-container *ngIf="memorieForm.get('description')?.touched">
            <p class="error-message" *ngIf="memorieForm.get('description')?.errors?.['required']">Описанието е задължително!</p>
        </ng-container>
        <button >Изпрати</button>
    </form>
</div>