<div class="form-container">
    <form class="data-form">
        <h2>Форма за добавяне</h2>
        <div class="form-group">
            <label for="field1">Процесор:</label>
            <input type="text" id="field1" name="field1" placeholder="Въведете име">
        </div>
        <div class="form-group">
            <label for="field2">Видео карта:</label>
            <input type="text" id="field2" name="field2">
        </div>
        <div class="form-group">
            <label for="field3">Дънна платка:</label>
            <input type="email" id="field3" name="field3">
        </div>
        <div class="form-group">
            <label for="field4">RAM памет:</label>
            <input type="tel" id="field4" name="field4">
        </div>
        <div class="form-group">
            <label for="field5">Памет:</label>
            <input type="password" id="field5" name="field5">
        </div>
        <div class="form-group">
            <label for="field6">Захранване:</label>
            <input type="text" id="field6" name="field6">
        </div>
        <div class="form-group">
            <label for="field7">Кутия:</label>
            <input type="text" id="field7" name="field7">
        </div>
        <div class="form-group">
            <label for="field8">Охлаждане:</label>
            <input type="text" id="field8" name="field8">
        </div>
        <div class="form-group">
            <label for="field9">Поле 9: Дата на раждане</label>
            <input type="date" id="field9" name="field9">
        </div>
        <div class="form-group">
            <label for="field10">Описание:</label>
            <textarea id="field10" name="field10" placeholder="Въведете забележки"></textarea>
        </div>
        <button type="submit">Изпрати</button>
    </form>
</div>
