<div class="container" *ngIf="configuration">
    <div class="profile">
        <img [src]="configuration.img" alt="Снимка">
        <div class="description">
            <p>Процесор: {{configuration.procesors}}</p>
            <p>Видео карта: {{configuration.video_cart}}</p>
            <p>RAM памет: {{configuration.ram_memories}}</p>
            <p>Дънна платка: {{configuration.mother_board}}</p>
            <p>Памет: {{configuration.memories}}</p>
            <p>Захранване: {{configuration.power_supply}}</p>
            <p>Охлаждане: {{configuration.cooling}}</p>
            <p>Кутия: {{configuration.computer_case}}</p>
            <p>Описание: {{configuration.description}}</p>
            <ng-template appShowIfAdmin> 
                <div class="buttons">
                    <button [routerLink]="['/edit-configuration', configuration.id]" class="edit">Редактирай</button>
                    <button (click)="deleteConfiguration(configuration.id)" class="delete">Изтрий</button>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="reviews">
        <h2>Ревюта</h2>
        <div class="review-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque officiis beatae enim, magnam ipsam, quasi aliquam illum mollitia eos neque explicabo? Ab earum voluptate corporis possimus, repudiandae dolor tenetur!
            <div class="buttons">
                <button class="edit">Редактирай</button>
                <button class="delete">Изтрий</button>
            </div>
        </div>
        <div class="review-item">Примерно ревю 2
            <div class="buttons">
                <button class="edit">Редактирай</button>
                <button class="delete">Изтрий</button>
            </div>
        </div>
    </div>

    <div class="add-review">
        <h3>Добави ревю</h3>
        <textarea placeholder="Напиши ревю тук..."></textarea>
        <button>Публикувай</button>
    </div>
</div>
