<main>
    <section class="gallery">
        <div class="gallery-item" *ngFor="let component of components" [routerLink]="['/mother-bords', component.id]">
            <img [src]="component.img" alt="Описание на снимката 2">
            <p>{{component.motherBoardModel}}</p>
            <p>{{component.description}}</p>
        </div>
        <ng-template appShowIfAdmin>
            <button class="create" routerLink="/mother-bords/add-mother-board">Добави дънна платка</button>
        </ng-template>
    </section>
</main>
